.map-page__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.choose-favorite-wrapper {
  max-width: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-favorite__title {
  margin: 60px 0 20px 0;
}

.choose-favorite__description {
  margin-bottom: 54px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.carousel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  gap: 30px;
  height: 157px;
}

.carousel__item_active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__item_active::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background: linear-gradient(90deg, #07eee0, #df496d);
  width: 157px;
  height: 157px;
  top: -25px;
  left: -24.1px;
  border-radius: 50%;
}

.carousel__item_active::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: var(--color-bg-primary);
  width: 151px;
  height: 151px;
  left: -21px;
  top: -22px;
  z-index: 2;
}

.carousel__img {
  height: 108px;
  width: 108px;
}

.carousel__img:hover {
  opacity: 30%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.carousel__img_active {
  -webkit-transform: scale(1.2685);
          transform: scale(1.2685);
  z-index: 3;
  position: relative;
}

.carousel__button_left {
  margin-left: 6px;
}

.carousel__button_right {
  margin-right: 6px;
}

.carousel__control {
  position: relative;
  margin: 32px 0 80px 0;
}

.btn_map {
  margin-top: 43px;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .map-page__wrapper {
    max-width: 800px;
  }
  .btn_map {
    margin-top: 34px;
  }
  .choose-favorite__description {
    margin-bottom: 35px;
  }
  .map-content {
    max-width: 800px;
    margin: 0 auto;
  }
  .carousel-content {
    height: 157px;
  }
  .carousel__items {
    width: 83%;
  }
  .carousel__control {
    margin: 25px 0 50px 0;
  }
}

@media screen and (max-width: 978px) {
  .carousel__items {
    gap: 15px;
    width: 86%;
  }
  .carousel-content {
    width: 600px;
  }
  .carousel__item_active {
    margin: 0 15px;
  }
}

@media screen and (max-width: 640px) {
  .map-page__wrapper {
    max-width: 600px;
  }
  .btn_map {
    margin-top: 31px;
  }
  .choose-favorite__title {
    margin: 155px 0 20px 0;
  }
  .carousel {
    /*   &__items {
      gap: 15px;
      width: 86%;
    }
*/
  }
  .carousel__control {
    margin: 25px 0 37px 0;
  }
}

@media screen and (max-width: 635px) {
  #carousel_fix {
    margin-top: 0px !important;
  }
  #carousel__control_fix {
    margin: 12px 0 36px 0 !important;
  }
  .carousel-content {
    height: 98px;
    width: 280px;
  }
  .carousel__img {
    height: 60px;
    width: 60px;
  }
  .carousel__img:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .carousel__img_active {
    -webkit-transform: scale(0.6685);
            transform: scale(0.6685);
    z-index: 3;
    position: relative;
  }
  .carousel__item_active {
    margin: 0 8px;
    width: 60px;
    height: 60px;
  }
  .carousel__item_active::before {
    height: 85px;
    width: 85px;
    top: -13px;
    left: -13.1px;
  }
  .carousel__item_active::after {
    width: 80px;
    height: 80px;
    left: -11px;
    top: -10px;
  }
}

@media screen and (max-width: 320px) {
  .map-content {
    max-width: 280px;
  }
  .choose-favorite__title {
    margin: 128px 0 10px 0;
  }
  .choose-favorite__description {
    font-size: 12px;
    line-height: 14px;
  }
}
/*# sourceMappingURL=map.css.map */