@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

%transistion {
  transition: 0.5s ease all;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

body {
  @extend %transistion;
  --main-color: #ffbc29;
  --hover-color: #e6c684;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  background-image: url("../assets/img/bg-dots.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.openBtn {
  color: var(--main-color);
  font-size: 40px;
  cursor: pointer;
  @extend %transistion;
  &:hover {
    color: var(--hover-color);
  }
}
.sidenav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 3;
  background: var(--main-color);
  overflow-x: hidden;
  padding-top: 60px;
  width: 0;
  transition: ease-in-out 0.5s width;

  &.open {
    width: 320px;
  }
  &,
  &__overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
  }
  &__overlay {
    background-color: #2d303a;
    opacity: 0.4;
    z-index: 2;
    width: 0;
    &.open {
      width: 100vw;
    }
  }
  & a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    //@extend %transistion;
    &:hover {
      color: #818181;
    }
  }
  box-shadow: 0px 4px 16px rgb(0 0 0 / 20%);
}

.active-link {
  color: #ff6024 !important;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

.btn {
  height: 40px;
  margin: 0 0 10px 10px;

  @extend %transistion;
  &:hover {
    box-shadow: 0px 4px 16px rgb(0 0 0 / 40%);
    // background-color: var(--hover-color);
  }
  &_colored {
    background-color: var(--main-color);
    &:hover {
      background-color: var(--hover-color);
    }
  }

  &-load {
    position: relative;
    width: 40%;
    min-width: 50px;
    &--input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

label {
  font-size: 0.875rem !important;
}
.main {
  flex-wrap: wrap;
  justify-content: space-between;
}

.header,
.main {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__infinite-container {
    height: calc(100vh - 150px);
    overflow: auto;
  }
}

.game {
  &__mode {
    --main-color: #7033ff;
    --hover-color: #8665d3;
  }

  &__img {
    height: 100%;
  }

  &__start-btn {
    width: 300px;
    align-self: center;
  }

  &__repeat-btn {
    border-radius: 50px;
  }
}

.rating {
  height: 17px;
  width: 20px;
  &__container {
    justify-content: flex-end;
    align-self: center;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__success {
    background-image: url("../assets/icons/heart-red.svg");
  }
  &__error {
    background-image: url("../assets/icons/heart-grey.svg");
  }
}

.congratulation {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__img {
    width: 50vw;
    height: calc(67vw / 2);
    min-width: 320px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__text {
    color: red;
  }
}
.success {
  background-image: url("../assets/img/success.png");
}

.failure {
  background-image: url("../assets/img/failure.png");
}
.correct {
  opacity: 0.8;
}

.form-check-input {
  background-color: var(--main-color);
  height: 3em;
  width: 7em !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 16px rgb(0 0 0 / 40%);
    background-color: var(--hover-color);
    border-color: var(--hover-color);
  }
  &:checked {
    background-color: var(--main-color);
  }
}
.img {
  width: 100%;
  height: 80%;
  background-size: cover;
  border-bottom: 3px solid var(--main-color);
}

.card {
  transform-style: preserve-3d;
  border: none;

  @extend %transistion;

  &_admin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }
  &,
  &__bg {
    width: 100%;
    height: 100%;
  }

  &__bg {
    background-color: green;
    border-radius: 20px;
  }

  &-container {
    height: 280px;
    width: calc(100% / 4 - 30px);
    margin-bottom: 40px;
    border: 0px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    @extend %transistion;

    box-shadow: 0px 4px 16px rgb(0 0 0 / 15%);
    &:hover {
      box-shadow: 0px 4px 16px rgb(0 0 0 / 40%);
    }
  }
  &_word {
    height: 350px;
  }
  &_game {
    background-size: cover;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    font-size: 1rem;
    color: black;
  }

  &__rotate {
    background-image: url(../assets/icons/rotate.svg);
    background-size: cover;

    width: 30px;
    height: 30px;
    @extend %transistion;
  }

  &__front,
  &__back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 20%);
  }

  &__back {
    transform: rotateY(180deg);
  }
}

.flip > .card {
  transform: rotateY(180deg) translateZ(20px);
  transform-origin: center;
}

.statistic {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}

th[scope="col"]:hover {
  color: #818181;
  cursor: pointer;
  @extend %transistion;
}

.tableFixHead {
  overflow: auto;
  height: 77vh;
  width: 100%;
  & thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--main-color);
    color: white;
  }
  & table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
  }
}

[data-order="asc"] {
  display: flex;
  gap: 3px;
  &::after {
    content: url(../assets/icons/sort-up.svg);
  }
}

[data-order="desc"] {
  display: flex;
  gap: 3px;
  &::after {
    content: url(../assets/icons/sort-down.svg);
  }
}

@media screen and (max-width: 1400px) {
  .card {
    &-container {
      width: calc(100% / 3 - 30px);
    }
  }
}

@media screen and (max-width: 1100px) {
  .card {
    &-container {
      width: calc(100% / 2 - 20px);
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    height: 80px;
  }
  .main,
  .header {
    padding: 0 20px;
  }
  .tableFixHead {
    height: calc(100vh - 150px);
  }
}

@media screen and (max-width: 600px) {
  .card {
    &-container {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 450px) {
  .header,
  .main {
    padding: 0 10px;
  }
  .sidenav.open {
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.footer {
  width: 95%;
  height: 71px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__github {
    color: black !important;
    font-size: 20px !important;
    align-self: flex-end;
  }
  &__logo {
    background: url("../assets/icons/logoRS.svg") no-repeat center;
    width: 40%;
  }
}

.add {
  background-image: url("../assets/icons/add.svg");
  width: 85px;
  height: 85px;
  @extend %transistion;
  &:hover {
    opacity: 0.5;
  }
}

.form {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &_login {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  &__img {
    width: 90%;
    margin-bottom: 10px;
  }
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__label {
    width: 20%;
  }
  &-control-sm {
    width: 60%;
  }
  &-control:focus {
    border-color: var(--hover-color);
    box-shadow: 0 0 0 0.25rem var(--hover-color);
  }
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2d303a;
  opacity: 0.4;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    position: absolute;
  }
  &__content {
    z-index: 1000;
    position: absolute;

    top: calc(50vh - 150px);
    left: calc(50vw - 250px);
    width: 500px;
  }
}
.hidden {
  display: none;
}
.notScrollable {
  overflow: hidden;
}

.svg-play {
  margin-left: 10px;
  cursor: pointer;
  @extend %transistion;
  &:hover {
    opacity: 0, 5;
  }
}
