.choose-favorite {
  &-wrapper {
    max-width: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    margin: 60px 0 20px 0;
  }
  &__description {
    margin-bottom: 54px;
  }
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  &-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  &__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 30px;
  }

  &__item {
    &_active {
      position: relative;
      //width: 157px;
      //height: 157px;

      display: flex;
      align-items: center;
      justify-content: center;
      // background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/side-bar/border.svg);
    }
    &_active::before {
      content: "";
      position: absolute;
      background: linear-gradient(90deg, #07eee0, #df496d);
      width: 157px;
      height: 157px;
      top: -25px;
      left: -24.1px;
      border-radius: 50%;
    }
    &_active::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      background: #fff;
      width: 151px;
      height: 151px;
      left: -21px;
      top: -22px;
      z-index: 2;
    }
  }

  &__img {
    height: 108px;
    width: 108px;
    &:hover {
      height: 137px;
      width: 137px;
      transition: all 0.3s ease-in-out;
    }
    &_active {
      transform: scale(1.2685);
      z-index: 3;
      position: relative;
    }
  }

  &__button {
    &_left {
      margin-right: 40px;
    }
    &_right {
      margin-left: 40px;
    }
  }

  &__control {
    position: relative;
    right: 18px;
    margin: 32px 0 80px 0;
  }
}

.btn_map {
  margin-top: 43px;
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
  .choose-favorite {
    &__description {
      margin-bottom: 35px;
    }
  }
  .map-content {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 640px) {
  .carousel {
    &__item {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__button {
      &_left {
        margin-right: 20px;
      }
      &_right {
        margin-left: 20px;
      }
    }
  }

  .choose-favorite__title {
    margin: 30px 0 10px 0;
  }
}
