@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.btn:hover, input[type="range"]:hover, .logo:hover, .social__item:hover, .social__item_row:hover, .card-description, .sliders__button:hover .arrow, .arrow:hover, .map__pin:hover path, .form__btn:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn:hover, input[type="range"]:hover, .logo:hover, .social__item:hover, .social__item_row:hover, .sliders__button:hover .arrow, .arrow:hover, .form__btn:hover {
  opacity: 50%;
  cursor: pointer;
}

.control, .card, .pets-in-zoo-content, .pay-and-feed-content, .testimonials-content, .testimonials__card, .map-content, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_layout, .contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.layout-3-column,
.layout-2-column,
.layout-4-column,
.layout-5-column, .form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  max-width: 1620px;
  margin: 0 auto;
}

.bg-primary {
  background-color: var(--color-bg-primary);
}

.bg-additional {
  background-color: var(--color-bg-additional);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

.light-theme {
  --color-gray-1: #333333;
  --color-text: #4f4f4f;
  --color-bg-primary: #fefefe;
  --color-bg-additional: #f2f2f2;
  --color-form: #bdbdbd;
  --color-base: #333;
  --color-bg-header: #fefefe;
  --color-toggle-round: #ffffff;
  --color-map-primary: #333333;
  --color-map-additional: #dadada;
}

.dark-theme {
  --color-gray-1: #fff;
  --color-text: #f2f2f2;
  --color-bg-primary: #3c3c3c;
  --color-bg-additional: #4f4f4f;
  --color-form: #bdbdbd;
  --color-base: #fefefe;
  --color-bg-header: #333333;
  --color-toggle-round: #1b1b1b;
  --color-map-primary: #e1e1e1;
  --color-map-additional: #333;
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", Verdana, sans-serif;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

h2 {
  font-size: 4.8rem;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 46px;
  color: var(--color-gray-1);
}

h4 {
  font-size: 2rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 23px;
  color: var(--color-gray-1);
}

h6 {
  color: #fefefe;
  font-size: 1.2rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;
}

a {
  text-decoration: none;
  color: var(--color-gray-1);
}

a:hover {
  font-weight: 900;
  text-decoration: underline !important;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.btn {
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 21px;
}

.btn:hover {
  cursor: pointer;
}

.btn_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 100px 0;
  padding: 0 39px;
}

.btn_main {
  margin: 32px 0 100px 0;
  border-radius: 3px;
  text-align: center;
}

.button__img_play {
  width: 32px;
  height: 32px;
}

input {
  color: white;
}

input:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 245px;
  height: 5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: rgba(189, 189, 189, 0.57);
  border: 0px solid #000101;
}

input[type="range"]::-webkit-slider-thumb {
  width: 30px;
  height: 10px;
  background: var(--color-gray-1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

input[type="range"].control__range_light::-webkit-slider-thumb {
  background: #fefefe;
}

input[type="range"].range_long::-webkit-slider-thumb {
  width: 60px;
}

.range_long::-webkit-slider-thumb {
  width: 60px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(189, 189, 189, 0.57);
}

.control {
  margin-top: 25px;
}

.control__text {
  margin-bottom: 11px;
}

.control__output {
  color: var(--color-gray-1);
  font-size: 2.4rem;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 28px;
}

.control__output_light {
  color: #fefefe;
}

.control__text {
  color: rgba(189, 189, 189, 0.57);
  font-size: 1.4rem;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 16.41px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
  background: var(--color-bg-additional);
  border-radius: 190px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg-additional);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 6px;
  top: 5px;
  background: var(--color-toggle-round);
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-bg-additional);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip {
  z-index: -1;
  position: absolute;
  width: 436px;
  height: 149px;
  background: var(--color-bg-primary);
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  opacity: 0;
}

.tooltip-content {
  padding: 40px 44px 44px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tooltip__img {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}

.tooltip__header {
  margin-bottom: 7px;
  height: 21px;
  font-size: 1.8rem;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 21px;
  color: #333333;
}

.tooltip__text {
  font-size: 1.4rem;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 16px;
  color: var(--color-text);
  margin-bottom: 5px;
}

.tooltip__text_bold {
  font-weight: 500;
}

.shadow {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  --webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow_light {
  -webkit-box-shadow: inset 0px 4px 8px rgba(44, 101, 77, 0.08);
          box-shadow: inset 0px 4px 8px rgba(44, 101, 77, 0.08);
  --webkit-box-shadow: inset 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.map .map-color_primary {
  fill: var(--color-map-primary);
}

.map .map-color_additional {
  fill: var(--color-map-additional);
}

.header {
  background: var(--color-bg-header);
  padding: 26px 0 23px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon path {
  fill: var(--color-base);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__link {
  font-size: 1.6rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  margin-right: 83px;
}

.navigation__link:last-child {
  margin-right: 0px;
}

.navigation__show {
  display: none;
}

.navigation__show line {
  stroke: var(--color-base);
}

.link-active {
  font-weight: 900;
  text-decoration: underline !important;
}

.link-active a {
  cursor: default;
  pointer-events: none;
}

.social {
  width: 35px;
}

.social__item {
  margin-bottom: 12px;
  cursor: pointer;
}

.social__item:last-child {
  margin-bottom: 0px;
}

.social__item_row {
  cursor: pointer;
  margin-right: 15px;
}

.social__item__link {
  display: block;
}

.social_horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo {
  overflow: hidden;
  position: relative;
}

.promo__header {
  margin: 206px 0 0 209px;
}

.promo__title {
  margin-bottom: 37px;
  color: #fefefe;
  font-size: 8.9rem;
  font-weight: 900;
  font-size: 8.9rem;
  line-height: 104px;
  max-width: 793px;
}

.promo__social {
  position: relative;
  top: 116px;
}

.gallery {
  width: 2558px;
  position: absolute;
  left: 43.6%;
  bottom: 167px;
  height: 352px;
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/sliders/line.svg) left center no-repeat;
}

.gallery__carousel {
  -webkit-transform: translateX(-186px);
          transform: translateX(-186px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  height: 352px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-wrapper {
  margin-left: 136px;
  overflow-x: clip;
}

.gallery__card:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.gallery__card,
.gallery .dot {
  margin-right: 45px;
  width: 140px;
  height: 203px;
  -webkit-filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
          filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
  border-radius: 5px;
}

.gallery__control {
  width: 245px;
  position: relative;
  left: 12.6%;
  bottom: 17px;
}

.dot {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/sliders/dot.svg) no-repeat;
  background-position: center;
}

.act {
  position: relative;
  bottom: 14px;
  width: 245px !important;
  height: 352px !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.act .card-description {
  top: 0%;
  opacity: 1;
  visibility: visible;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 100%;
  -webkit-transition-property: top, visibility, height, opacity;
  transition-property: top, visibility, height, opacity;
}

.section__title {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-base);
}

.section-descrition {
  color: var(--color-text);
  margin-bottom: 29px;
  font-size: 1.4rem;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 16px;
}

.how-it-work__wrapper {
  max-width: 790px;
  margin: 0 auto;
  overflow: auto;
}

.how-it-work__title {
  margin: 100px 0 30px 0;
}

.how-it-work__img {
  height: 323px;
  width: 100%;
}

.how-it-work_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout-5-column {
  width: 100%;
}

.layout-4-column {
  width: 800%;
}

.layout-4-column-wrapper {
  max-width: 62.5vw;
  scroll-behavior: smooth;
  overflow: hidden;
}

.card {
  width: 387px;
  height: 213px;
  margin: 0 30px 0 0;
  color: var(--color-text);
}

.card:last-child {
  margin-right: 0px;
}

.card__icon {
  width: 80px;
  height: 80px;
}

.card__title {
  padding: 15px;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mission-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mission-content:last-child {
  margin-right: none;
}

.pets-in-zoo__title {
  margin: 100px 0 35px 0;
}

.pets-in-zoo__card {
  border-radius: 5px;
  position: relative;
  width: 278px;
  height: 399px;
  margin-right: 30px;
}

.pets-in-zoo__card:last-child {
  margin: 0;
}

.pets-in-zoo__card:hover .card-description {
  top: 0%;
  visibility: visible;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  height: 100%;
  -webkit-transition-property: top, opacity, height, visibility;
  transition-property: top, opacity, height, visibility;
}

.pets-in-zoo__control {
  margin-top: 30px;
}

.card-description {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 0%;
  top: 100%;
  background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 16px;
}

.card-content {
  margin: 0px 0px 15% 8%;
}

.card__text {
  margin-bottom: 14px;
}

.card__button:hover path {
  fill: #4bd8b5;
}

.card__button:hover circle {
  stroke: #4bd8b5;
}

.sliders__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliders__button_right {
  margin-left: 26px;
}

.sliders__button_left {
  margin-right: 26px;
}

.sliders__button:hover {
  cursor: pointer;
}

.arrow path {
  fill: var(--color-base);
}

.pay-and-feed-content {
  max-width: 1200px;
  margin: 0 auto;
}

.pay-and-feed__title {
  margin: 100px 0 35px 0;
}

.pay-and-feed__text {
  margin-bottom: 92px;
  color: var(--color-text);
  text-align: center;
}

.pay-and-feed__card {
  margin-bottom: 30px;
}

.pay-and-feed__card:last-child {
  margin-right: 0px;
}

.pay-and-feed__card-text {
  fill: var(--color-text);
}

.pay-and-feed__arrow {
  background-image: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/card/arrow/light.svg);
  margin-bottom: 30px;
  height: 16px;
  width: 107px;
}

.pay-and-feed__button {
  margin-top: 25px;
}

.testimonials__title {
  margin: 100px 0 63px 0;
}

.testimonials__card {
  background-color: var(--color-bg-primary);
  width: 30.4vw;
  max-width: 585px;
  min-width: 440px;
  height: 310px;
  color: var(--color-text);
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
}

.testimonials__card:first-child {
  margin-right: 30px;
}

.testimonials__card__title {
  margin: 17px 0;
}

.testimonials__img {
  margin: 47px 0 0 0;
}

.testimonials__text {
  width: 75%;
}

.testimonials__control {
  margin-top: 46px;
}

.map {
  width: 100%;
}

.map__map {
  height: 496px;
}

.map-cont {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.map__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.map__object {
  width: 100%;
  min-height: 388px;
  min-width: 800px;
}

.map__object_landing {
  min-width: 900px;
  min-height: 435px;
}

.map__title {
  margin: 100px 0 63px 0;
}

.map__gorilla {
  position: absolute;
  bottom: 43.6%;
  left: calc(50.5% - 34px);
}

.map__panda {
  position: absolute;
  bottom: 61.9%;
  left: calc(78.2% - 34px);
}

.map__panda-fix {
  bottom: 61.9%;
  left: calc(78.2% - 34px);
}

.map__eagle {
  position: absolute;
  bottom: 65.4%;
  left: calc(13.9% - 34px);
}

.map__eagle-fix {
  bottom: 65.4%;
  left: calc(13.9% - 34px);
}

.map__crocodile {
  position: absolute;
  bottom: 61.2%;
  left: calc(23.1% - 34px);
}

.map-item_img {
  position: absolute;
  right: 12px;
  bottom: 42px;
  pointer-events: none;
}

.map__pin:hover path {
  fill: #eb5757;
}

.map__item__active path {
  fill: #eb5757;
}

.map__item:hover ~ .tooltip {
  z-index: 1;
  opacity: 1;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.map__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tooltip_left {
  left: 0px;
}

.tooltip_right {
  right: 0px;
}

.tooltip__header {
  color: var(--color-base);
}

.footer {
  background: #333;
}

.footer_layout {
  min-height: 751px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content {
  padding-top: 100px;
  margin-bottom: 60px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 67px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .choose-favorite-wrapper {
  max-width: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .choose-favorite__title {
  margin: 60px 0 20px 0;
}

.footer .choose-favorite__description {
  margin-bottom: 54px;
}

.footer__footer {
  height: 133px;
  border-top: 0.5px solid #fefefe;
}

.footer-btn {
  font-weight: 500;
  margin: 0px;
  width: 275px;
}

.contact-us {
  margin-top: 55px;
}

.contact-us__title {
  color: #fefefe;
  margin-bottom: 27px;
}

.form {
  width: 385px;
}

.form__input {
  width: 100%;
  height: 26px;
  background: #333333;
  border: none;
  border-bottom: 1px solid #fefefe;
  margin-bottom: 20px;
}

.form__legend {
  margin-left: 7px;
  padding: 0 4px 0 4px;
  width: 145px;
  height: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 12px;
  color: #bdbdbd;
}

.form__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

.form__fieldset {
  width: 100%;
  height: 120px;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
}

.form__textarea {
  background: #333333;
  color: #fefefe;
  resize: none;
  border: none;
  padding: none;
  width: 98%;
  height: 96%;
}

.form__textarea:focus {
  outline: none;
}

.form__btn {
  width: 108px;
  height: 16px;
  background: #333;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #fefefe;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 21px 13px 0px 0;
  padding: 0px;
}

.form__btn_icon {
  width: 48px;
  height: 8px;
}

.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 13px;
  height: 13px;
  position: absolute;
}

.form__checkbox:checked + .check-box {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form .check-box {
  border: 1px solid #bdbdbd;
  border-radius: 1px;
  width: 12px;
  height: 12px;
  left: 5px;
  margin-right: 6px;
}

.form .agree__label {
  color: #bdbdbd;
  font-size: 1.2rem;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 14px;
}

.footer__link {
  color: #fefefe;
  font-size: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 19px;
  margin-right: 73px;
}

.address {
  font-size: 1.4rem;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 16px;
  color: #fefefe;
  margin-bottom: 7px;
}

.contact {
  margin-top: 57px;
  color: #fefefe;
  width: 451px;
  margin-bottom: 15px;
}

.contact__title {
  font-size: 1.4rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 16px;
  color: inherit;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.contact .info {
  margin-bottom: 15px;
}

.contact .info__address {
  margin-bottom: 7px;
}

.contact .info__open {
  margin-bottom: 20px;
}

.contact:first-child {
  margin-bottom: 35px;
}

.designer {
  margin: 28px 0 5px 0;
}

@media screen and (max-width: 1900px) {
  .wrapper {
    max-width: 84.3vw;
  }
  .pets-in-zoo__card {
    border-radius: 5px;
    position: relative;
    width: 14.4vw;
    height: 21vw;
    margin-right: 1.5vw;
  }
  .map-cont {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .map__object {
    min-height: 290px;
    min-width: 600px;
  }
}

@media screen and (max-width: 1200px) {
  input[type="range"].range_long::-webkit-slider-thumb {
    width: 80px;
  }
  .range_long::-webkit-slider-thumb {
    width: 80px;
  }
  .wrapper {
    width: 93.5vw;
    max-width: 900px;
  }
  .navigation__link {
    margin-right: 7vw;
  }
  .promo {
    height: 926px !important;
  }
  .promo__header {
    margin: 128px 0 0 0;
  }
  .promo__social {
    top: 220px;
  }
  .layout-4-column-wrapper {
    max-width: 900px;
  }
  .gallery {
    left: 39.6%;
    bottom: 126px;
  }
  .gallery__card {
    width: 180px;
    height: 261px;
    margin-right: 30px;
    position: relative;
    bottom: 16px;
  }
  .gallery .dot {
    width: 180px;
    height: 261px;
    margin-right: 30px;
  }
  .gallery__control {
    left: 13.2%;
  }
  .card {
    width: 287px;
    height: 213px;
    margin: 0 20px 0 0;
  }
  .pets-in-zoo__title {
    margin: 100px 0 31px 0;
  }
  .pets-in-zoo__card {
    width: 210px;
    height: 301px;
    margin-right: 20px;
  }
  .how-it-work__wrapper {
    max-width: 746px;
  }
  .section-descrition {
    margin-bottom: 15px;
  }
  .pay-and-feed__text {
    margin-bottom: 50px;
  }
  .pay-and-feed__card {
    margin-right: 17px;
    margin-bottom: 20px;
  }
  .pay-and-feed__arrow {
    width: 49px;
    margin-right: 17px;
    margin-bottom: 20px;
    background-image: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/card/arrow/arrow-46px.svg);
  }
  .pay-and-feed__card > object > svg {
    width: 17;
  }
  .testimonials__card {
    width: 36.6vw;
    min-width: auto;
  }
  .testimonials__card:first-child {
    margin-right: 20px;
  }
  .map__map {
    background-size: 100%;
    height: 388px;
  }
  .form__fieldset {
    height: 124px;
  }
  .form__agree {
    margin-top: 20px;
  }
  .footer-content {
    position: relative;
  }
  .footer .choose-favorite-wrapper {
    max-width: 790px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .choose-favorite__title {
    margin: 60px 0 20px 0;
  }
  .footer .choose-favorite__description {
    margin-bottom: 54px;
  }
  .footer__footer {
    height: 133px;
    border-top: 0.5px solid #fefefe;
  }
  .footer-btn {
    position: absolute;
    bottom: 79px;
    left: 459px;
  }
  .contact {
    margin-top: 42px;
    position: relative;
    left: 10px;
  }
  .footer-navigation {
    position: relative;
    left: 10px;
  }
  .designer {
    margin: 31.5px 0 5px 0;
  }
}

@media screen and (max-width: 1020px) {
  .pets-in-zoo-content {
    overflow: hidden;
  }
  .pets-in-zoo__title {
    margin: 100px 0 38px 0;
  }
  .pets-in-zoo__layout {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .pets-in-zoo__control {
    margin-top: 35px;
  }
  .pets-in-zoo__button {
    margin-top: 37px;
  }
  .pets-in-zoo_arrow {
    display: none;
  }
}

@media screen and (max-width: 978px) {
  .gallery {
    left: 8.12%;
    bottom: 158px;
  }
  .gallery__card:first-child {
    margin-left: 73px;
  }
  .gallery__control {
    left: 12.5%;
  }
  .promo__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
  }
  .promo__social {
    top: 265px;
  }
  .footer-content {
    margin-bottom: 52px;
    padding-top: 96px;
    position: relative;
  }
  .footer-btn {
    position: absolute;
    right: 0px;
    left: auto;
    top: 96px;
    bottom: 0px;
  }
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 18px;
  }
  .footer__footer {
    height: 108px;
  }
  .navigation {
    left: 0;
  }
  .layout-5-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pay-and-feed__title {
    margin-bottom: 15px;
  }
  .pay-and-feed__text {
    max-width: 538px;
  }
  .pay-and-feed__card {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .pay-and-feed__arrow {
    background-image: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/card/arrow/arrov-vertical.svg);
    margin-bottom: 30px;
    margin-right: 0;
    width: 16px;
    height: 40px;
  }
  .pay-and-feed__button {
    margin-top: 14px;
  }
  .contact-us {
    margin-top: 21px;
  }
  .sliders__button {
    display: none;
  }
  .testimonials__title {
    margin: 100px 0 49px 0;
  }
  .testimonials__card {
    width: 100%;
    min-width: auto;
  }
  .testimonials__card:first-child {
    display: none;
  }
  .map__map {
    height: 290px;
  }
  .btn_map {
    margin-bottom: 80px;
  }
  .footer-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .contact {
    left: 0;
    margin-top: 57px;
  }
}

@media screen and (max-width: 640px) {
  .promo {
    padding-top: 85px;
    height: 943px !important;
  }
  .wrapper {
    max-width: 600px;
  }
  #how-it-work_btn {
    margin-bottom: 68px;
  }
  .how-it-work__description {
    margin-bottom: 30px;
  }
  .how-it-work__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left bottom;
       object-position: left bottom;
  }
  .wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header {
    position: fixed;
    z-index: 4;
    width: 100vw;
  }
  .header__navigation .navigation {
    display: none;
  }
  .header__navigation .navigation__show {
    display: block;
  }
  .header__switch {
    margin-left: auto;
    margin-right: 34px;
  }
  .header__navigation {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .layout-4-column {
    width: 100%;
    overflow: hidden;
  }
  .layout-4-column-wrapper {
    max-width: 100%;
  }
  .contact {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .form {
    width: auto;
    max-width: 385px;
  }
  .designer {
    margin: 28px 0 5px 0;
  }
  .card {
    height: auto;
    margin: 0 0 53px 0;
  }
  .card:last-child {
    margin: 0px;
  }
  .card__text {
    line-height: 1.1;
    margin-bottom: 0;
  }
  .map__title {
    margin: 100px 0 51px 0;
  }
}

@media screen and (max-width: 639px) {
  .promo {
    height: 707px !important;
  }
  .promo-range {
    width: 140px !important;
    height: 5px !important;
  }
  .promo-control__text {
    margin-bottom: 2px;
  }
  .gallery {
    bottom: 34px;
    left: 1.12%;
  }
  .gallery__card,
  .gallery .dot {
    bottom: -78px;
    margin-right: 10px;
    width: 113px;
    height: 164px;
  }
  .gallery__card:first-child,
  .gallery .dot:first-child {
    margin-left: 19px;
  }
  .gallery__card_active, .gallery__card:hover,
  .gallery .dot_active,
  .gallery .dot:hover {
    bottom: -78px;
    width: 140px !important;
    height: 202px !important;
  }
  .gallery__control {
    width: 140px;
    left: 143px;
    bottom: -76px;
  }
  .map__object {
    min-height: 146px;
    min-width: 280px;
  }
  .promo {
    padding-top: 57px;
  }
  .promo__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: -15px;
  }
  .promo__social {
    display: none;
  }
  .tooltip {
    width: 238px;
    height: 113px;
  }
  .tooltip-content {
    padding: 16px 24px 19px 15px;
  }
  .tooltip__img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .tooltip__header {
    margin-bottom: 5px;
    height: 21px;
    font-size: 1.4rem;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 16px;
    color: var(--color-base);
  }
  .tooltip__text {
    font-size: 1.1rem;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 13px;
    color: var(--color-text);
    margin-bottom: 5px;
  }
  .tooltip__text_bold {
    font-weight: 500;
  }
}

@media screen and (max-width: 420px) {
  .footer-btn {
    margin: 0 auto;
    position: static;
  }
  .carousel__control {
    margin: 21px 0 30px 0 !important;
  }
  .map__item {
    width: 32.85px;
    height: 46.37px;
  }
  .map-item_img {
    width: 21px;
    right: 6px;
    bottom: 23px;
  }
  .map__gorilla {
    position: absolute;
    bottom: 43.6%;
    left: calc(50.5% - 16.4px);
  }
  .map__panda {
    position: absolute;
  }
  .map__panda-fix {
    bottom: 61.9%;
    left: calc(78.2% - 16.4px);
  }
  .map__eagle {
    position: absolute;
  }
  .map__eagle-fix {
    bottom: 65.4%;
    left: calc(13.9% - 16.4px);
  }
  .map__eagle_320px {
    left: calc(18.9% - 34px);
  }
  .map__crocodile {
    position: absolute;
    bottom: 61.2%;
    left: calc(23.1% - 16.4px);
  }
}

@media screen and (max-width: 320px) {
  .carousel {
    margin: 13px 0 0px 0 !important;
  }
  .section__title {
    margin-top: 44px;
  }
  .wrapper {
    max-width: 300px;
  }
  .section__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
  }
  .how-it-work__title {
    margin: 43px 0 13px 0;
  }
  #how-it-work_btn {
    margin: 20px 0 50px 0;
  }
  .zoo__title,
  .choose-favorite__title {
    height: 28px;
    font-size: 24px;
    line-height: 28px;
  }
  .mission-content {
    margin: 50px 0;
  }
  .mission .card {
    width: 300px;
    margin-bottom: 33px;
  }
  .mission .card:last-child {
    margin-bottom: 0px;
  }
  .pets-in-zoo__title {
    margin: 100px 0 20px 0;
  }
  .pets-in-zoo__control {
    margin-top: 28px !important;
  }
  .pets-in-zoo__button {
    margin-top: 26px;
  }
  .pay-and-feed__text {
    display: none;
  }
  .pay-and-feed__title {
    margin-bottom: 21px;
  }
  .pay-and-feed__button {
    margin-top: 1px;
  }
  .testimonials__img {
    margin-top: 55px;
  }
  .testimonials__text {
    width: 90%;
  }
  .testimonials__title {
    margin-bottom: 29px;
  }
  .testimonials__card {
    height: 363px;
  }
  .testimonials__card__title {
    font-size: 16px;
    line-height: 19px;
    margin-top: 47px;
  }
  .testimonials__card:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .testimonials__card:last-child {
    display: none;
  }
  .testimonials__control {
    margin-top: 40px !important;
  }
  .testimonials__btn {
    margin-top: 20px;
  }
  .control {
    margin-top: 18px;
  }
  .header__switch {
    margin-right: 24px;
  }
  .map__title {
    margin-bottom: 22px;
  }
  .btn_main {
    margin-bottom: 50px;
  }
  .btn_map {
    margin-bottom: 56px;
  }
  .btn_img {
    margin-bottom: 60px;
  }
  .footer-content {
    padding-top: 52px;
    gap: 27px;
    margin-bottom: 80px;
  }
  .footer-row {
    gap: 26px;
  }
  .footer .contact {
    margin-top: 33px;
  }
  .footer .info {
    margin-bottom: 12px;
  }
  .footer__footer {
    height: 88px;
  }
  .form__btn {
    margin-right: 0px;
  }
}

.promo {
  width: 100%;
  height: 940px;
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/mountains.jpg);
  background-size: cover;
}

.panda {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/panda.jpg);
  background-size: cover;
}

.gorilla {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/gorilla.jpg);
  background-size: cover;
}

.crocodile {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/crocodile.jpg);
  background-size: cover;
}

.eagles {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/eagles.jpg);
  background-size: cover;
}

.fox {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/fox.jpg);
  background-size: cover;
}

.elephant {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/elephant.jpg);
  background-size: cover;
}

.tiger {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/tiger.jpg);
  background-size: cover;
}

.sloth {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/sloth.jpg);
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */