@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import "base";
@import "layouts";

.promo {
  width: 100%;
  height: 940px;
  background: url(../assets/images/mountains.jpg);
  background-size: cover;
}

.panda {
  background: url(../assets/images/panda.jpg);
}
.eagles {
  background: url(../assets/images/eagles.jpg);
}

.gorilla {
  background: url(../assets/images/gorilla.jpg);
}

.crocodile {
  background: url(../assets/images/crocodile.jpg);
}
