@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500&display=swap');
@import 'normalize.css';

html {
  --color-primary: #2196f3;
  --color-light: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.main {
  width: 100%;
  height: 100%;
}

body,
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

svg {
  pointer-events: none;
}

.btn {
  background: #f2f9fe;
  width: 207px;
  height: 36px;
  margin: 13px 20px auto 0;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: var(--color-primary);

  &:hover {
    opacity: 0.8;
    transition: 0.5 ease-in-out;
    cursor: pointer;
  }

  &_game-settings {
    background-color: var(--color-primary);
  }

  &_cancel {
    width: 93px;
    height: 36px;
  }

  &_add-user {
    background: var(--color-primary);
    color: var(--color-light);
    width: 108px;
    height: 36px;
  }
}

.wrapper {
  display: flex;
  max-width: 1000px;
  width: 90vw;
  min-height: 90vh;
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
  margin: 28px 36px 20px 36px;
}

.form-img {
  background: url('./asstets/form.jpg') no-repeat right;
}

.preview-img {
  background: url('./asstets/preview.jpg') no-repeat right;
}
