@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", Verdana, sans-serif;
}

h1 {
  color: #fefefe;
  font-size: 8.9rem;
  font-weight: 900;
  font-size: 8.9rem;
  line-height: 104px;
  max-width: 793px;
}

h2 {
  font-size: 4.8rem;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 46px;
  color: #333333;
}

h4 {
  font-size: 2rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 23px;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

li {
  list-style: none;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__title {
  padding-top: 128px;
}

.section__title {
  padding: 100px 0 30px 0;
}

.how-it-work__wrapper {
  max-width: 790px !important;
  margin: 0 auto;
}

.how-it-work_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layout-3-column,
.layout-2-column,
.layout-4-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px;
  width: 287px;
}

.card__icon {
  width: 80px;
  height: 80px;
}

.card__title {
  padding: 15px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-additional {
  background: #f2f2f2;
}

.layout-2-column .layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  border: none;
  width: 245px;
  height: 55px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 32px 0 100px 0;
}

header {
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  padding: 16px 0 24px 0;
}

.navigation__link {
  font-size: 1.6rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  padding-right: 122px;
}

a:hover {
  font-weight: 900;
  text-decoration: underline !important;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo {
  width: 100%;
  height: 940px;
  background: url(../assets/images/mountains.jpg) no-repeat;
}

.footer {
  min-height: 751px;
  background: #333333;
}

.pets-in-zoo__card {
  width: 278px;
  height: 399px;
}

.panda {
  background: url(../assets/images/panda.jpg);
}

.eagles {
  background: url(../assets/images/eagles.jpg);
}

.gorilla {
  background: url(../assets/images/gorilla.jpg);
}

.crocodile {
  background: url(../assets/images/crocodile.jpg);
}
/*# sourceMappingURL=style.css.map */