@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.control, .card, .pets-in-zoo-content, .testimonials-content, .testimonials__card, .map-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", Verdana, sans-serif;
}

h1 {
  color: #fefefe;
  font-size: 8.9rem;
  font-weight: 900;
  font-size: 8.9rem;
  line-height: 104px;
  max-width: 793px;
}

h2 {
  font-size: 4.8rem;
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 46px;
  color: #333333;
}

h4 {
  font-size: 2rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 23px;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  font-weight: 900;
  text-decoration: underline !important;
  cursor: pointer;
}

li {
  list-style: none;
}

.button {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  border: none;
  width: 245px;
  height: 55px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 32px 0 100px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 245px;
  height: 5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: rgba(189, 189, 189, 0.57);
  border: 0px solid #000101;
}

input[type="range"]::-webkit-slider-thumb {
  width: 30px;
  height: 10px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(189, 189, 189, 0.57);
}

.control {
  margin-top: 30px;
}

.control__output {
  color: #333333;
  font-size: 2.4rem;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 28px;
}

.control__text {
  color: rgba(189, 189, 189, 0.57);
  font-size: 1.4rem;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 16.41px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 54px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 190px;
  display: block;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: #000;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

.header {
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  padding: 16px 0 24px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__title {
  padding-top: 128px;
}

.social__link {
  margin-bottom: 15px;
}

.section__title {
  padding: 100px 0 30px 0;
}

.how-it-work__wrapper {
  max-width: 790px !important;
  margin: 0 auto;
}

.how-it-work_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-descrition {
  margin-bottom: 30px;
}

.layout-3-column,
.layout-2-column,
.layout-4-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 387px;
  margin: 100px 30px 130px 0;
}

.card .card:last-child {
  margin-right: 0px;
}

.card__icon {
  width: 80px;
  height: 80px;
}

.card__title {
  padding: 15px;
}

.pets-in-zoo__card {
  width: 278px;
  height: 399px;
  margin-right: 30px;
}

.pets-in-zoo__card:last-child {
  margin: 0;
}

.sliders__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliders__button.right {
  margin-left: 26px;
}

.sliders__button.left {
  margin-right: 26px;
}

.testimonials__card {
  width: 585px;
  height: 310px;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
}

.testimonials__card:first-child {
  margin-right: 30px;
}

.testimonials__img {
  margin: 47px 0 0 0;
}

.testimonials__title {
  margin: 17px 0;
}

.testimonials__text {
  width: 440px;
}

.map__item_gorilla {
  position: absolute;
  margin: 365px 0 0 0;
}

.control, .card, .pets-in-zoo-content, .testimonials-content, .testimonials__card, .map-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.bg-additional {
  background: #f2f2f2;
}

.layout-2-column .layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  border: none;
  width: 245px;
  height: 55px;
  font-style: normal;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 32px 0 100px 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__link {
  font-size: 1.6rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;
  padding-right: 122px;
}

.promo {
  width: 100%;
  height: 940px;
  background: url(../assets/images/mountains.jpg) no-repeat;
}

.footer {
  min-height: 751px;
  background: #333333;
}

.panda {
  background: url(../assets/images/panda.jpg);
}

.eagles {
  background: url(../assets/images/eagles.jpg);
}

.gorilla {
  background: url(../assets/images/gorilla.jpg);
}

.crocodile {
  background: url(../assets/images/crocodile.jpg);
}
/*# sourceMappingURL=style.css.map */