.side-bar {
  width: 196px;
  height: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;

  &__arrow_top {
    margin-bottom: 25px;
  }
  &__arrow_bottom {
    margin-top: 15px;
  }

  &-wrapper {
    position: sticky;
    top: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin-bottom: 10px;

    &_active {
      width: 157px;
      height: 157px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/side-bar/border.svg);
    }
  }
  &__img {
    height: 108px;
    width: 108px;

    &_active {
      height: 137px;
      width: 137px;
    }
  }
}

.zoo {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__wrapper {
    margin-right: 30px;
  }
  &__title {
    margin: 64px 0 47px 0;
  }

  &__main {
    display: flex;
  }

  &__player {
    margin-bottom: 27px;
    border-radius: 5px;
  }
  &__preview {
    height: 141px;
    left: 904px;
    border-radius: 5px;
    margin-right: 26px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.description {
  max-width: 380px;
  &__item {
    margin-bottom: 14px;
  }
  &__header {
    margin-bottom: 6px;
  }
  &__text {
    margin-bottom: 14px;
  }
}

.btn_feed {
  width: 194px;
  margin-top: 19px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 96px;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__plug {
    width: 100%;
    height: 150px;
    position: absolute;
  }
  &__control {
    margin-top: 30px;
    display: flex;
    align-items: center;
  }
}

input.carousel__input {
  display: none;
}

label.carousel__label {
  cursor: pointer;
  margin-right: 5px;
}

label.carousel__label:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #c4c4c4;
  border-radius: 50%;
  z-index: 2;
}

input:checked + label:before {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  width: 11px;
  height: 11px;
}
