.side-bar {
  width: 209px;
  height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.side-bar-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar-wrapper::before {
  content: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/sliders/arrow-top.svg);
  margin-bottom: 15px;
}

.side-bar-wrapper::after {
  content: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/sliders/arrow-bottom.svg);
  margin-top: 15px;
}

.side-bar__item {
  margin-bottom: 10px;
}

.side-bar__item:last-child {
  margin-bottom: 0px;
}

.side-bar__item_active {
  width: 157px;
  height: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/side-bar/border.svg);
}

.side-bar__img {
  height: 108px;
  width: 108px;
}

.side-bar__img_active {
  height: 137px;
  width: 137px;
}

.zoo {
  margin: 60px 360px 100px 360px;
}

.zoo__wrapper {
  margin-right: 30px;
}

.zoo__title {
  margin: 0px 0 47px 0;
}

.zoo__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.zoo__player {
  margin-bottom: 30px;
  border-radius: 5px;
}

.zoo__preview {
  margin-right: 26px;
}

.zoo__preview:last-child {
  margin-right: 0px;
}

.description {
  max-width: 380px;
}

.description__item {
  margin-bottom: 14px;
}

.description__header {
  margin-bottom: 6px;
}

.description__text {
  margin-bottom: 14px;
}

.btn_feed {
  width: 194px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel__control {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input.carousel__input {
  display: none;
}

label.carousel__label {
  cursor: pointer;
  margin-right: 5px;
}

label.carousel__label:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #c4c4c4;
  border-radius: 50%;
  z-index: 2;
}

input:checked + label:before {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  width: 11px;
  height: 11px;
}
/*# sourceMappingURL=zoos.css.map */