.side-bar {
  width: 196px;
  height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.side-bar__arrow_top {
  margin-bottom: 25px;
}

.side-bar__arrow_bottom {
  margin-top: 15px;
}

.side-bar-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar__item {
  margin-bottom: 10px;
}

.side-bar__item:hover {
  opacity: 70%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.side-bar__item_active {
  height: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side-bar__item_active:hover {
  opacity: 1;
}

.side-bar__item_active::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: var(--color-bg-primary);
  width: 150px;
  height: 150px;
  z-index: 2;
}

.side-bar__item_active::before {
  content: '';
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background: linear-gradient(90deg, #07eee0, #df496d);
  width: 157px;
  height: 157px;
  border-radius: 50%;
}

.side-bar__img {
  height: 108px;
  width: 108px;
}

.side-bar__img_active {
  height: 137px;
  width: 137px;
  z-index: 3;
}

.video-main {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.zoo {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.zoo__wrapper {
  width: 65.8%;
  margin-right: 30px;
}

.zoo__title {
  margin: 64px 0 47px 0;
}

.zoo__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zoo__player {
  margin-bottom: 27px;
  border-radius: 5px;
  position: absolute;
}

.zoo__preview {
  pointer-events: none;
}

.zoo__preview-wrapper {
  height: 141px;
  left: 904px;
  border-radius: 5px;
  margin-right: 26px;
}

.zoo__preview-wrapper:last-child {
  margin-right: 0px;
}

.description {
  max-width: 31.6%;
}

.description__item {
  margin-bottom: 14px;
}

.description__header {
  margin-bottom: 6px;
}

.description__text {
  margin-bottom: 14px;
}

.btn_feed {
  width: 194px;
  margin-top: 19px;
}

.carousel {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 96px;
}

.carousel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.carousel__plug {
  width: 100%;
  height: auto;
  position: absolute;
}

.carousel__control {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input.carousel__input {
  display: none;
}

label.carousel__label {
  cursor: pointer;
  margin-right: 5px;
}

label.carousel__label:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #c4c4c4;
  border-radius: 50%;
  z-index: 2;
}

input:checked + label:before {
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  width: 11px;
  height: 11px;
}

@media screen and (max-width: 1920px) {
  .zoo {
    width: 62.5vw;
  }
  .zoo__preview-wrapper {
    height: 7.3vw;
  }
  .carousel__plug {
    height: 7.3vw;
  }
}

@media screen and (max-width: 1200px) {
  .zoo {
    width: 66.6vw;
  }
  .zoo__preview-wrapper {
    height: 7.8vw;
    margin-right: 18px;
  }
  .zoo__wrapper {
    margin-right: 20px;
  }
  .carousel__plug {
    height: 7.8vw;
  }
  .btn_feed {
    margin-top: 6px;
    width: 185px;
  }
  .side-bar {
    width: 153px;
    height: 676px;
  }
  .side-bar__item {
    margin-bottom: 7px;
  }
  .side-bar__item_active {
    height: 120px;
  }
  .side-bar__item_active::before {
    width: 120px;
    height: 120px;
  }
  .side-bar__item_active::after {
    width: 115px;
    height: 115px;
  }
  .side-bar__img {
    height: 96px;
    width: 96px;
  }
  .side-bar__img_active {
    height: 104px;
    width: 104px;
  }
}

@media screen and (max-width: 978px) {
  .zoo {
    width: 77.6vw;
    margin: 0 20px 0 auto;
  }
  .zoo__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .zoo__preview-wrapper {
    height: 13.9vw;
    margin-right: 18px;
  }
  .zoo__wrapper {
    width: 100%;
    margin-right: 20px;
  }
  .description {
    max-width: 100%;
    margin-bottom: 80px;
  }
  .carousel {
    margin: 15px 0 50px 0;
  }
  .carousel__plug {
    height: 13.9vw;
  }
  .side-bar {
    width: 103px;
    height: 784px;
  }
  .side-bar__item_active {
    height: 88px;
  }
  .side-bar__item_active::before {
    width: 90px;
    height: 90px;
  }
  .side-bar__item_active::after {
    width: 85px;
    height: 85px;
  }
  .side-bar__img {
    height: 70px;
    width: 70px;
  }
  .side-bar__img_active {
    height: 78px;
    width: 78px;
  }
}

@media screen and (max-width: 640px) {
  .zoo__title {
    margin: 159px 0 42px 9px;
  }
  __item_active {
    width: 120px;
    height: 120px;
  }
  .side-bar-wrapper .sliders__button {
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .zoo {
    width: 64vw;
  }
  .zoo__preview-wrapper {
    height: 13.9vw;
    margin-right: 18px;
  }
  .zoo__title {
    margin: 129px 0 20px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
  }
  .zoo__preview-wrapper {
    width: 47.8%;
    margin-right: 9px;
  }
  .zoo__preview-wrapper:last-child {
    display: none;
  }
  .description {
    max-width: 100%;
    margin-bottom: 80px;
  }
  .description__header {
    font-size: 14px;
    line-height: 16px;
  }
  .description__text {
    font-size: 12px;
    line-height: 14px;
  }
  .carousel {
    margin: 10px 0 30px 0;
  }
  .carousel__plug {
    height: 13.9vw;
  }
  .side-bar {
    width: 74px;
    height: 712px;
  }
  .side-bar-wrapper {
    top: 134px;
  }
  .side-bar__item {
    margin-bottom: 5px;
  }
  .side-bar__item_active {
    height: 65px;
  }
  .side-bar__item_active::before {
    width: 65px;
    height: 65px;
  }
  .side-bar__item_active::after {
    width: 60px;
    height: 60px;
  }
  .side-bar__img {
    height: 40px;
    width: 40px;
  }
  .side-bar__img_active {
    height: 55px;
    width: 55px;
  }
}

@media screen and (max-width: 320px) {
  .zoo__preview-wrapper {
    height: 56px;
  }
  .carousel__control {
    margin-top: 20px;
  }
  .side-bar__arrow_top {
    margin-bottom: 15px;
  }
  .side-bar__arrow_bottom {
    margin-top: 0;
  }
  .description {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=zoos.css.map */