.header {
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  padding: 26px 0 23px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
  &__switch {
    display: flex;
    align-items: center;
  }
}

.logo {
  &__icon path {
    fill: var(--color-base);
  }
  &:hover {
    @extend %opacity;
    @extend %transition;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  &__link {
    @include font(1.6rem, 19px, normal);
    margin-right: 83px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.link-active {
  font-weight: 900;
  text-decoration: underline !important;
  & a {
    cursor: default;
    pointer-events: none;
  }
}

.social {
  width: 35px;
  &__item {
    margin-bottom: 12px;
    margin-right: 15px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }
    &:hover {
      @extend %opacity;
      @extend %transition;
    }
  }
  &__link {
    display: block;
  }
}
//end header style
.promo {
  overflow: hidden;

  &__header {
    margin: 206px 0 0 209px;
  }
  &__title {
    margin-bottom: 37px;
    color: #fefefe;
    @include font(8.9rem, 104px);
    max-width: 793px;
  }
  &__social {
    position: relative;
    top: 116px;
  }
}

.gallery {
  position: relative;
  left: 43.6%;
  bottom: 298px;
  height: 352px;
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/icons/sliders/line.svg) left center no-repeat;
  &__carousel {
    align-items: center;
    display: flex;
  }
  &__card {
    &:hover .card-description {
      top: 0%;
      opacity: 1;
      transition-delay: 0.5s;
      transition-duration: 0.5s;
      height: 100%;
      transition-property: top, opacity, height;
    }
    &:first-child {
      margin-left: 136px;
    }
    margin-right: 45px;
    width: 140px;
    height: 203px;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
    &_active,
    &:hover {
      position: relative;
      bottom: 14px;
      width: 245px;
      height: 352px;
      transition: all 0.5s;
    }
  }
  &__control {
    width: 245px;
    position: relative;
    left: 16.8%;
    bottom: 17px;
  }
}
.section__title {
  height: 56px;

  display: flex;
  align-items: center;
  color: var(--color-base);
}
.section-descrition {
  color: var(--color-text);
  margin-bottom: 29px;
  @include font(1.4rem, 16px, normal);
}
//how it work style
.how-it-work {
  &__wrapper {
    max-width: 790px !important;
    margin: 0 auto;
  }

  &__title {
    margin: 100px 0 30px 0;
  }
  &_button {
    display: flex;
    justify-content: center;
  }
}

.layout-3-column,
.layout-2-column,
.layout-4-column,
.layout-5-column {
  @extend %flex-row-space-btw;
}

.card {
  @extend %flex-column-center;
  max-width: 387px;
  height: 213px;
  margin: 0 30px 0 0;
  color: var(--color-text);
  &:last-child {
    margin-right: 0px;
  }
  &__icon {
    width: 80px;
    height: 80px;
  }
  &__title {
    padding: 15px;
  }
}

.mission {
  &-content {
    padding: 100px 208px;
    align-items: flex-start;
    &:last-child {
      margin-right: none;
    }
  }
}
//pets-in-zoo style
.pets-in-zoo {
  &-content {
    @extend %flex-column-center;
  }
  &__title {
    margin: 100px 0 35px 0;
  }
  &__card {
    border-radius: 5%;
    position: relative;
    width: 278px;
    height: 399px;
    margin-right: 30px;

    &:last-child {
      margin: 0;
    }

    &:hover .card-description {
      top: 0%;
      opacity: 1;
      transition-duration: 0.5s;
      height: 100%;
      transition-property: top, opacity, height;
    }
  }
  &__control {
    margin-top: 30px;
  }
}

.card {
  &-description {
    position: absolute;
    width: 100%;
    height: 0%;
    opacity: 0;
    top: 100%;
    background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    @include font(1.4rem, 16px, normal);
    @extend %transition;
  }

  &-content {
    margin: 0px 0px 15% 8%;
  }
  &__text {
    margin-bottom: 14px;
  }

  &__button:hover path {
    fill: #4bd8b5;
  }
  &__button:hover circle {
    stroke: #4bd8b5;
  }
}
.sliders__button {
  display: flex;
  align-items: center;
  &_right {
    margin-left: 26px;
  }
  &_left {
    margin-right: 26px;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover .arrow {
    @extend %opacity;
    @extend %transition;
  }
}

.arrow path {
  fill: var(--color-base);
}
//pay-and-feed style
.pay-and-feed {
  &-content {
    @extend %flex-column-center;
  }
  &__title {
    margin: 100px 0 35px 0;
  }
  &__text {
    margin-bottom: 92px;
    color: var(--color-text);
  }
  &__card {
    margin-right: 63px;
    margin-bottom: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__button {
    margin-top: 25px;
  }
}

//testiminials style
.testimonials {
  &-content {
    @extend %flex-column-center;
  }
  &__title {
    margin: 100px 0 63px 0;
  }

  &__card {
    @extend %flex-column-center;
    background-color: var(--color-testimionials-card);
    width: 585px;
    height: 310px;
    color: var(--color-text);
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
    border-radius: 5px;
    &:first-child {
      margin-right: 30px;
    }
    &__title {
      margin: 17px 0;
    }
  }
  &__img {
    margin: 47px 0 0 0;
  }

  &__text {
    width: 440px;
  }
  &__control {
    margin-top: 46px;
  }
}

//map style
.map {
  position: relative;
  &-content {
    @extend %flex-column-center;
  }

  &__title {
    margin: 100px 0 63px 0;
  }
  &__gorilla {
    position: absolute;
    top: 27.4%;
    left: 47.6%;
  }
  &__panda {
    position: absolute;
    top: 13.1%;
    left: 74.4%;
  }
  &__eagle {
    position: absolute;
    top: 10.6%;
    left: 10.1%;
  }
  &__crocodile {
    position: absolute;
    top: 14.8%;
    left: 20.4%;
  }
  &-item_img {
    position: relative;
    right: 59px;
    bottom: 40px;
  }

  &__item {
    &:hover path {
      fill: #eb5757;
      @extend %transition;
    }
    &:hover ~ .tooltip {
      opacity: 1;
      transition: ease-in-out 1s;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

//footer style
.footer {
  background: #333;

  &_layout {
    min-height: 751px;
    @extend %flex-column;
    justify-content: space-between;
  }
  &-content {
    padding-top: 100px;
    margin-bottom: 60px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    width: 383px;
  }
  &__right {
    display: flex;
    flex-direction: column;
  }
  &__footer {
    height: 133px;
    border-top: 0.5px solid #fefefe;
  }

  &-btn {
    font-weight: 500;
    margin: 0px;
    width: 275px;
    margin-left: 67px;
  }
}

.contact-us {
  margin-top: 55px;
  &__title {
    color: #fefefe;
    margin-bottom: 27px;
  }
}
.form {
  @extend %flex-column-center;
  max-width: 385px;
  &__input {
    width: 100%;
    height: 26px;
    background: #333333;
    border: none;
    border-bottom: 1px solid var(--color-form);
    margin-bottom: 20px;
  }
  &__legend {
    margin-left: 7px;
    padding: 0 4px 0 4px;
    width: 145px;
    height: 12px;
    @include font(1.2rem, 12px, normal);
    color: #bdbdbd;
  }
  &__agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    align-self: flex-start;
  }
  &__fieldset {
    width: 100%;
    height: 115px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
  }
  &__textarea {
    background: #333333;
    color: #fefefe;
    resize: none;
    border: none;
    padding: none;
    width: 99%;
    height: 96%;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    width: 108px;
    height: 16px;
    background: #333;
    align-self: flex-end;
    color: #fefefe;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 21px 13px 0px 0;
    padding: 0px;
    @extend %flex-row-space-btw;
    &_icon {
      width: 48px;
      height: 8px;
    }
    &:hover {
      @extend %transition;
      @extend %opacity;
    }
  }
  &__checkbox {
    appearance: none;
    width: 13px;
    height: 13px;
    border: 1px solid #bdbdbd;
    background: var(--color-gray-1);
    border-radius: 1px;
  }

  .agree__label {
    color: #bdbdbd;
    @include font(1.2rem, 14px, normal);
  }
}

.footer__link {
  color: #fefefe;
  @include font(1.6rem, 19px, 500);
  margin-right: 73px !important;
  &:last-child {
    margin-right: 0px;
  }
}

.address {
  @include font(1.4rem, 16px, normal);
  color: #fefefe;
  margin-bottom: 7px;
}

.social_horizontal {
  display: flex;
}

.contact {
  margin-top: 57px;
  color: #fefefe;
  width: 190px;
  &__title {
    @include font(1.4rem, 16px, 700);
    color: inherit;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  .info {
    &__address {
      margin-bottom: 7px;
    }
    &__open {
      margin-bottom: 20px;
    }
    @extend %flex-column;
    margin-bottom: 15px;
  }
  margin-bottom: 15px;
  &:first-child {
    margin-bottom: 35px;
  }
}

.designer {
  margin: 28px 0 5px 0;
}
