@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import "base";
@import "layouts";
.promo {
  $tets: red;
  width: 100%;
  height: 940px;
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/mountains.jpg);
  background-size: cover;
}

.panda {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/panda.jpg);
  background-size: cover;
}

.gorilla {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/gorilla.jpg);
  background-size: cover;
}

.crocodile {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/crocodile.jpg);
  background-size: cover;
}

.eagles {
  background: url(/akzhuk-JSFE2021Q1/online-zoo/assets/images/eagles.jpg);
  background-size: cover;
}
